@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Inter:wght@400;700;800&family=Roboto:wght@400;700&family=Rubik:wght@300;400;500&family=Ubuntu:wght@500;700&display=swap');
:root {
  --chargrey: hsl(235, 18%, 26%);
  --white: hsl(0, 0%, 100%);
  --darkgrey: hsl(234, 29%, 20%);
  --grey: hsl(231, 7%, 60%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: var(--chargrey);
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    margin-top: 5%;
    background-color: var(--white);
    width: 70%;
    height: 80vh;
    border-radius: 25px;
  }
  .mobile-bground {
    display: none;
  }

}