* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
:root {
    --linear: hsl(4, 100%, 67%);
}
.main2 {
    padding: 5% 7%;
}
.check2 {
    width: 19%;
    height: 12vh;
}
.h12 {
    font-size: 3rem;
    margin-bottom: 2vh;
}
.btns {
    max-width: 80vw;
}
.ps {
    font-size: 1.2rem;
}
.btns:hover, .btns:focus {
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(4, 100%, 67%), rgb(206, 43, 43));
}
@media only screen and (min-width: 900px) {
    .main2 {
        padding: 4%;
        width: 40%;
    }
    .check2 {
        margin-bottom: 2vh;
    }
}